@import url("https://fonts.googleapis.com/css2?family=Domine:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Domine", serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
/* header  */
.header-section {
  padding-top: 21px;
  padding-bottom: 25px;
  background: #163a24;
}
.header-section-conatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo:hover {
  opacity: 0.8;
}
.site-logo:active {
  opacity: 0.6;
}
.navbar {
  display: flex;
  align-items: center;
}
.nav-log {
  color: #fbfaf7;
  margin-right: 24px;
  line-height: 22px;
  text-align: right;
  text-decoration: none;
}
.nav-number {
  color: #fbfaf7;
  line-height: 22px;
  margin-right: 24px;
}
.main-button {
  background: #198c36;
  border-radius: 160px;
  padding: 15px 25px;
  line-height: 22px;
  text-decoration: none;
  color: #fbfaf7;
}
/* main */
/* repo section */

.repo-section {
  background: #163a24;
}
.repo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.repo-content {
  margin-right: 22px;
  color: #fbfaf7;
}
.repo-title {
  width: 450px;
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 18px;
}
.repo-discription {
  font-size: 18px;
  line-height: 27px;
}

.repo-image {
  width: 738px;
  height: 580px;
  align-items: flex-end;
  margin-bottom: -12px;
}
/* humans section */
.humans {
  padding-top: 130px;
  padding-bottom: 121px;
  background: #e5e5e5;
}
.humans-section-conatiner {
  padding: 0 30px;
}

.human-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.human-item {
  display: flex;
  align-items: center;
}
.human-item img {
  width: 492px;
  height: 510px;
}
.human-item__text {
  margin-left: 99px;
}
.human-item-title {
  width: 375px;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163a24;
}
.human-item__discripcion {
  width: 374px;
  color: #163a24;
  font-size: 18px;
  line-height: 27px;
}
.human-item__content {
  display: flex;
  flex-direction: row-reverse;
}
.human-title__content {
  width: 450px;
}
.humans-partners {
  margin-top: 115px;
  text-align: center;
}
.human-partner__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  color: #163a24;
}
.human-parnter__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.human-partner___logo-image:not(:last-child) {
  margin-right: 87px;
}
/* production section */
.production-section {
  background: #163a24;
  padding: 66px 139px;
}
.production-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.production-title {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #fbfaf7;
  margin-bottom: 68px;
}
.porduction-items {
  display: flex;
  align-items: center;
}
.production-item:not(:last-child) {
  margin-right: 120px;
}
.production-img {
  width: 117px;
  height: 145px;
  margin-bottom: 28px;
}
.production-discription {
  font-size: 18px;
  line-height: 27px;
  color: #fbfaf7;
  text-align: center;
}
/* focus section */
.focus-section {
  background: #f2efe6;
  padding: 114px 0 136px 0;
}
.focus-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.focus-title {
  width: 739px;
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  color: #163a24;
  text-align: center;
  margin-bottom: 27px;
}
.focus-discription {
  width: 760px;
  font-size: 18px;
  line-height: 27px;
  color: #163a24;
  text-align: center;
  margin-bottom: 16px;
}
.focus-image {
  width: 1180px;
}
/* development section */
.devellopment-section {
  background: #e5e5e5;
  padding: 180px 0 120px 0;
}
.development-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.development-items {
  display: flex;
  align-items: center;
  margin-bottom: 115px;
}
.development-content {
  margin-right: 115px;
}
.development-title {
  width: 400px;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163a24;
}
.development-discription {
  width: 400px;
  font-size: 18px;
  line-height: 27px;
}
.development-image {
  width: 487px;
}
.development-items__second {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.development-subtitle {
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  color: #163a24;
  margin: 0;
  margin-bottom: 26px;
}
.development-discription {
  color: #163a24;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 8px;
}
.development-cards {
  display: flex;
  align-items: center;
}
.development-card__item {
  width: 353px;
  background: #fbfaf7;
  box-shadow: 5px 5px 20px #e9e4d5;
  border-radius: 15px;
  padding: 50px 40px 66px 40px;
}
.development-card__item:not(:last-child) {
  margin-right: 40px;
}
.development-card__img {
  margin-bottom: 20px;
}
.development-card-title {
  width: 300px;
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  margin: 0;
  margin-bottom: 23px;
}
.development-list {
  margin: 0;
  padding: 0;
  line-height: 21px;
  color: #163a24;
  padding-left: 20px;
}

.development-list__item:not(:last-child) {
  margin-bottom: 15px;
}
.development-card__second-item {
  margin-top: 35px;
}
/* easy section */
.easy {
  background: #f2efe6;
  padding: 114px 0 124px 0;
}
.easy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.easy-title {
  font-weight: 600;
  font-size: 47px;
  line-height: 54px;
  color: #163a24;
  margin: 0;
  margin-bottom: 26px;
}
.easy-discripcion {
  padding: 0;
  margin: 0;
  color: #163a24;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
}
.easy-items {
  display: flex;
  align-items: center;
}
.easy-item:not(:last-child) {
  margin-right: 27px;
  text-align: center;
}
.easy-discription {
  width: 260px;
  font-size: 18px;
  line-height: 27px;
  color: #163a24;
  text-align: center;
}
.easy-title {
  color: #163a24;
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
}
.easy-img {
  margin-right: 35px;
}
.easy-item-img {
  width: 285px;
  height: 179px;
  background: url("../images/easy-image\(3\).svg");
  background-size: cover;
  padding: 10px;
  text-align: center;
}
/* book section */
.book {
  background: #e5e5e5;
  padding: 130px 0;
}
.book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.book-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 137px;
}
.book-title {
  width: 400px;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  color: #163a24;
  margin: 0;
  padding: 0;
  margin-right: 25px;
}
.book-discription {
  font-size: 18px;
  line-height: 27px;
  color: #163a24;
  margin-bottom: 19px;
}

.book-image {
  width: 490px;
}
/* start section */
.start {
  background: #163a24;
  padding-top: 23px;
}
.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 120px;
}
.start-image {
  width: 300px;
}
.start-title {
  width: 549px;
  font-size: 45px;
  font-weight: 600;
  line-height: 57px;
  color: #fbfaf7;
  margin: 0;
  margin-bottom: 26px;
}
.start-discription {
  font-size: 18px;
  line-height: 27px;
  color: #fbfaf7;
  margin: 0;
  margin-bottom: 18px;
}
.start-button {
  background: #fab5a0;
  border-radius: 160px;
  color: #163a24;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: unset;
  margin-top: 28px;
}
/* news section */
.news {
  padding: 54px 0 73px 0;
  background: #f2efe6;
}
.news-container {
  display: flex;
  align-items: center;
}
.news-item {
  margin-right: 248px;
}
.news-title {
  width: 370px;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  color: #163a24;
  margin: 0;
  margin-bottom: 26px;
}
.news-discription {
  font-size: 18px;
  line-height: 27px;
  color: #163a24;
}
.news-form {
  width: 553px;
  height: 54px;
  background: #ffff;
  display: flex;
  align-items: center;
  border-radius: 225px;
  padding-left: 10px;
  color: #163a24;
  line-height: 27px;
  margin-bottom: 11px;
}
.news-input {
  width: 79.5%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 225px;
  font-size: 18px;
}

.news-form__discription {
  font-size: 14px;
  line-height: 21px;
  color: #163a24;
}
.news-form__text {
  color: #198c36;
  font-size: 14px;
  line-height: 21px;
  margin-left: 10px;
}
